@use '../../styles/variables.scss' as *;

.religion {
  padding: 50px 20px;

  .religion-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .religion-text {
      flex: 1;
      text-align: left;

      max-width: 600px;

      h2 {
        color: $primary-dark;

        margin-bottom: 20px;
      }

      p {
        color: $text-secondary;

        width: 100%;
      }
    }

    .religion-image {
      flex: 0 0 auto;

      max-width: 40%;

      img {
        width: 100%;
        height: auto;

        object-fit: cover;

        border-radius: 8px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .religion-image {
        max-width: 80%;
        
        margin-top: 20px;
      }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      gap: 30px;

      .religion-image {
        max-width: 50%;
      }
    }
  }
}
