@use '../../styles/variables.scss' as *;

.religion {
  padding: 50px 50px;

  .religion-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .religion-text {
      h2 {
        color: $primary-dark;
        margin-bottom: 20px;
      }

      p {
        color: $text-secondary;
        width: 85%;
      }
    }

    .religion-image {
      flex: 0 0 40%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;

      .religion-image {
        flex: 1;
        margin-top: 20px;
      }
    }
  }
}
