@use '../../styles/variables.scss' as *;

.donation-card {
  text-align: left;
  max-width: 600px;
  background-color: $background-light;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid $primary-color;
  border-radius: 8px;
  padding: 30px;
  margin: 30px auto;

  h2 {
    font-size: 1.8em;
    color: $primary-color;
    margin-bottom: 10px;
  }

  .donation-description {
    font-size: 1em;
    color: $text-secondary;
    margin: 10px 0 20px;
  }

  h3 {
    font-size: 1.3em;
    font-weight: bold;
    color: $text-dark;
    margin-bottom: 5px;
  }

  p {
    color: $text-secondary;
    margin: 5px 0;
  }

  .donation-option {
    display: flex;
    align-items: center;
    gap: 15px;
    background: $white;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 15px 0;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .bank-logo {
      width: 50px;
      height: auto;
      border-radius: 3px;
    }

    .copy-icon {
      color: $primary-color;
      margin-left: 8px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $primary-dark;
      }
    }
  }

  // Responsividade para telas menores
  @media (max-width: 768px) {
    padding: 20px;
    max-width: 100%;
    margin: 15px auto;

    h2 {
      font-size: 1.5em;
    }

    .donation-description {
      font-size: 0.9em;
    }

    .donation-option {
      flex-direction: column; // Alinhar as opções de doação em coluna
      align-items: flex-start; // Garantir que os elementos fiquem alinhados à esquerda
      padding: 15px;

      .bank-logo {
        width: 40px; // Reduzir o tamanho do logo
        margin-bottom: 10px;
      }

      .copy-icon {
        margin-left: 0; // Ajuste para o ícone de copiar
        margin-top: 5px; // Adicionar um pequeno espaço entre os ícones e texto
      }

      .donation-link {
        font-size: 0.9em;
        word-wrap: break-word; // Evitar que o link ultrapasse a tela
      }
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 1.3em;
    }

    .donation-description {
      font-size: 0.85em;
    }

    .donation-option {
      padding: 10px;
    }

    .bank-logo {
      width: 35px;
    }
  }
}
