@use '../../styles/variables.scss' as *;

.about {
  padding: 50px 20px;

  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .about-text {
      flex: 1;
      text-align: left;

      max-width: 600px;

      h2 {
        color: $primary-dark;

        margin-bottom: 20px;
      }

      p {
        color: $text-secondary;

        width: 100%;
      }

      a {
        text-decoration: none;
      }

      .invitation {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary-color;

        margin-top: 20px;

        cursor: pointer;

        &:hover {
          color: $primary-dark;
        }
      }
    }

    .about-image {
      flex: 0 0 auto;

      position: relative;

      max-width: 40%;

      overflow: hidden;

      img {
        width: 100%;
        height: auto;

        opacity: 1;

        object-fit: cover;

        border-radius: 8px;

        transition: opacity 0.5s ease-in-out;

        &.fade-in {
          opacity: 1;
        }

        &.fade-out {
          opacity: 0;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .about-image {
        max-width: 80%;

        margin-top: 20px;
      }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      gap: 30px;

      .about-image {
        max-width: 50%;
      }
    }
  }
}
