@use '../styles/variables.scss' as *;

.landing-page {
  position: relative;
  overflow: hidden;

  .background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.1;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    background-color: $primary-color;
    padding: 20px;
    
    img {
      width: 80px;
    }

    nav ul {
      display: flex;
      gap: 35px;
      list-style: none;

      li a {
        text-decoration: none;
        color: $white;

        &:hover {
          color: $primary-light;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
      nav ul {
        display: none;
      }
    }
  }

  .about {
    padding: 50px 50px;

    .about-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .about-text {
        flex: 1;
        text-align: left;

        h2 {
          color: $primary-dark;
          margin-bottom: 20px;
        }

        p {
          color: $text-secondary;
          width: 90%;
        }

        .invitation {
          font-size: 1.2rem;
          font-weight: bold;
          text-transform: uppercase;
          color: $primary-color;
          margin-top: 20px;

          cursor: pointer;

          &:hover {
            color: $primary-dark;
          }
        }
      }

      .about-image {
        flex: 0 0 40%;
        
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .about-image {
          flex: 1;
          margin-top: 20px;
        }
      }
    }
  }

  .religion {
    padding: 50px 50px;

    .religion-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .religion-text {
        h2 {
          color: $primary-dark;
          margin-bottom: 20px;
        }

        p {
          color: $text-secondary;
          width: 85%;
        }
      }

      .religion-image {
        flex: 0 0 40%;
        
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;

        .religion-image {
          flex: 1;
          margin-top: 20px;
        }
      }
    }
  }

  .gallery {
    text-align: center;
    padding: 50px 20px;

    h2 {
      color: $primary-dark;
      margin-bottom: 20px;
    }

    .swiper {
      width: 80%;
      margin: 0 auto;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
        }
      }

      @media (max-width: 768px) {
        .swiper-slide {
          flex: 0 0 calc(50% - 10px);
        }
      }

      @media (max-width: 480px) {
        .swiper-slide {
          flex: 0 0 100%;
        }
      }
    }
  }

  .donation button {
    color: $white;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: $primary-dark;
    }
  }
}
