@use '../../styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  background-color: $primary-color;
  padding: 20px;

  img {
    width: 80px;
  }

  nav ul {
    display: flex;
    gap: 35px;
    list-style: none;

    li a {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $primary-light;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    nav ul {
      display: none;
    }
  }
}
